<div class="row m-0 p-0">
  <div class="col-12 col-lg-6 col-6 m-0 p-4">
    <h3 class="mb-3">{{ title }}</h3>
    <p [innerHtml]="summary"></p>
    <div class="d-flex">
      <i
        *ngFor="let button of iconButtons"
        class="bi me-3"
        [ngClass]="'bi-' + button.icon"
        [style.color]="button.iconColor"
        style="font-size: 1.5rem"
        role="button"
        (click)="button.click()"
      ></i>
    </div>
  </div>
  <div class="col-12 col-lg-6 m-0 p-0">
    <app-carousel
      [images]="images"
      style="height: 400px; border-radius: 20px; overflow: hidden"
    ></app-carousel>
    <!-- <img [src]="images[0]" style="border-radius: 10px; width: 100%" /> -->
  </div>
</div>
