html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.outline-red {
  outline: 2px solid red;
}

.outline-blue {
  outline: 2px solid blue;
}

.outline-green {
  outline: 2px solid green;
}

.blur-out {
  filter: blur(5px);
  transition: filter ease 1s;
}

.fade-out {
  opacity: 0;
  filter: blur(5px);
  transition: all ease 1s;
}

.fade-scale {
  scale: 0;
}

.fade-out-left {
  transform: translateX(-100%);
}

.fade-out-right {
  transform: translateX(100%);
}

.fade-out-bottom {
  transform: translateY(100%);
}

.blur-in {
  filter: none;
}

.fade-in {
  opacity: 1;
  scale: 1;
  filter: none;
  transform: none;
}

@media (prefers-reduced-motion) {
  .fade-out {
    transition: none;
  }
}

// Bootstrap overrides being here
// Overrides must be before importing bootstrap

.theme-light {
  --github-color: #692a84;
  --app-particles-bg-top-start: #eeeeee;
  --app-particles-bg-bottom-end: #ffffff;
}

.theme-dark {
  --app-dark-bg: #394251;
  --app-dark-bg-rgb: 57, 66, 81;
  --app-particles-bg-top-start: var(--app-dark-bg-rgb);
  --app-particles-bg-bottom-end: #2d3645;
  --bs-danger-rgb: 173, 255, 47;
  --bs-dark: whitesmoke;
  --bs-light-rgb: var(--app-dark-bg-rgb);
  --bs-modal-bg: var(--app-dark-bg);
  --github-color: #9c54bb;

  background-color: var(--app-dark-bg);
  color: whitesmoke;
  
  a {
    color: lightskyblue;
  }

  .bi {
    color: whitesmoke;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
