<aside
  class="h-100 border-end"
  style="overflow-y: auto"
  [style.width]="sidenavWidth"
  [style.min-width]="sidenavWidth"
  [style.max-width]="sidenavWidth"
>
  <div class="d-flex justify-content-center p-3">
    <app-avatar size="150px"></app-avatar>
  </div>

  <div class="list-group">
    <button
      *ngFor="let section of sections"
      type="button"
      class="list-group-item list-group-item-action"
      [ngClass]="{ active: activeSectionId == section.id }"
      (click)="onSectionButtonClicked(section)"
    >
      <i class="bi me-2" [ngClass]="'bi-' + section.icon"></i>
      {{ section.label }}
    </button>
  </div>
</aside>

<div class="w-100 h-100" style="display: flex; flex-direction: column">
  <header class="border-bottom">This is a header</header>

  <main class="w-100 h-100" style="position: relative; overflow-y: auto">
    <div class="container py-5">
      <section id="aboutMeSection">
        <h1>About Me</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic omnis
          vero, commodi perspiciatis velit saepe sint quas! Aliquam, odit
          delectus. Officia dolores veritatis placeat aut enim aspernatur autem
          iure porro?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic omnis
          vero, commodi perspiciatis velit saepe sint quas! Aliquam, odit
          delectus. Officia dolores veritatis placeat aut enim aspernatur autem
          iure porro?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic omnis
          vero, commodi perspiciatis velit saepe sint quas! Aliquam, odit
          delectus. Officia dolores veritatis placeat aut enim aspernatur autem
          iure porro?
        </p>
      </section>

      <section id="workExperienceSection">
        <h1>My Work Experience</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam
          neque illo sit, iste, beatae corporis odio accusantium at nostrum
          natus quisquam perspiciatis nemo dicta et voluptatem labore itaque
          ullam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam
          neque illo sit, iste, beatae corporis odio accusantium at nostrum
          natus quisquam perspiciatis nemo dicta et voluptatem labore itaque
          ullam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam
          neque illo sit, iste, beatae corporis odio accusantium at nostrum
          natus quisquam perspiciatis nemo dicta et voluptatem labore itaque
          ullam.
        </p>
      </section>

      <section id="technologiesSection">
        <h1>Technologies I use</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus error
          fuga corrupti, eius veniam eligendi vero explicabo fugiat suscipit
          accusamus. Aspernatur voluptatem ducimus consequatur aut sunt eos
          dolorum temporibus sapiente?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus error
          fuga corrupti, eius veniam eligendi vero explicabo fugiat suscipit
          accusamus. Aspernatur voluptatem ducimus consequatur aut sunt eos
          dolorum temporibus sapiente?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus error
          fuga corrupti, eius veniam eligendi vero explicabo fugiat suscipit
          accusamus. Aspernatur voluptatem ducimus consequatur aut sunt eos
          dolorum temporibus sapiente?
        </p>
      </section>

      <section id="sideProjectsSection">
        <h1>Side Projects</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
          dolorum quod ut laudantium aspernatur ducimus fugiat. Sapiente nihil
          autem numquam, ea eius, facilis recusandae animi molestias velit amet
          beatae minus!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
          dolorum quod ut laudantium aspernatur ducimus fugiat. Sapiente nihil
          autem numquam, ea eius, facilis recusandae animi molestias velit amet
          beatae minus!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
          dolorum quod ut laudantium aspernatur ducimus fugiat. Sapiente nihil
          autem numquam, ea eius, facilis recusandae animi molestias velit amet
          beatae minus!
        </p>
      </section>

      <section id="funFactsSection">
        <h1>Fun facts</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sit
          culpa earum commodi laudantium repudiandae a! Maiores excepturi
          reprehenderit quibusdam consequatur reiciendis cumque, assumenda
          facilis voluptatibus possimus sequi, ad quisquam?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sit
          culpa earum commodi laudantium repudiandae a! Maiores excepturi
          reprehenderit quibusdam consequatur reiciendis cumque, assumenda
          facilis voluptatibus possimus sequi, ad quisquam?
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sit
          culpa earum commodi laudantium repudiandae a! Maiores excepturi
          reprehenderit quibusdam consequatur reiciendis cumque, assumenda
          facilis voluptatibus possimus sequi, ad quisquam?
        </p>
      </section>
    </div>
  </main>

  <footer class="border-top">This is a footer</footer>
</div>
