<aside class="h-100" style="width: 300px; overflow-y: auto">
  <h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ea natus
    doloribus perferendis nemo! Aperiam quos magnam tempora in animi nostrum
    laudantium, odio enim porro, corrupti numquam, dolorum voluptatum aliquam.
  </h1>
  <h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ea natus
    doloribus perferendis nemo! Aperiam quos magnam tempora in animi nostrum
    laudantium, odio enim porro, corrupti numquam, dolorum voluptatum aliquam.
  </h1>
  <h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ea natus
    doloribus perferendis nemo! Aperiam quos magnam tempora in animi nostrum
    laudantium, odio enim porro, corrupti numquam, dolorum voluptatum aliquam.
  </h1>
</aside>

<div class="w-100 h-100" style="display: flex; flex-direction: column">
  <header class="outline-red">This is a header</header>

  <main class="w-100 h-100" style="position: relative; overflow-y: auto">
    <section>About Me</section>

    <section>My Work Experience</section>

    <section>Technologies I use</section>

    <section>Side Projects</section>

    <section>Fun facts</section>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>

    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit nisi vel
      a minus. Odit, mollitia accusamus. Est, quaerat eos. Ex, ad consectetur
      laboriosam libero eligendi illo numquam voluptatum quae amet.
    </h1>
  </main>

  <footer class="w-100 outline-red">This is a footer</footer>
</div>
